- page_title "Branches"
= render "projects/commits/header_title"
= render "projects/commits/head"
.gray-content-block
  .pull-right
    - if can? current_user, :push_code, @project
      = link_to new_namespace_project_branch_path(@project.namespace, @project), class: 'btn btn-create' do
        = icon('plus')
        New branch
      &nbsp;
    .dropdown.inline
      %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span.light
        - if @sort.present?
          = @sort.humanize
        - else
          Name
        %b.caret
      %ul.dropdown-menu.dropdown-menu-align-right
        %li
          = link_to namespace_project_branches_path(sort: nil) do
            Name
          = link_to namespace_project_branches_path(sort: 'recently_updated') do
            = sort_title_recently_updated
          = link_to namespace_project_branches_path(sort: 'last_updated') do
            = sort_title_oldest_updated
  .oneline
    Protected branches can be managed in project settings

= render 'projects/commits/mirror_status'

- unless @branches.empty?
  %ul.content-list.all-branches
    - @branches.each do |branch|
      = render "projects/branches/branch", branch: branch
  = paginate @branches, theme: 'gitlab'
